
<div>
    <form method="get">
        <label for="SortBy">Sort by</label>
        <select name="SortBy">
            <option value="Name">Name</option>
            <option value="Date">Date</option>
        </select>
        <input type="submit" value="Sort" />
    </form>
</div>

