@page
@model ExeVUB.Pages_Projects.IndexModel

@{
    ViewData["Title"] = "Projects";
    ViewData["Header"] = "Projects";
}

<p>
    <a asp-page="Create">Create New</a>
</p>

<div>
    <partial name="_SortProjects"/>
</div>

<div>
    <partial name="_ProjectsTable" model="Model.Project" />
</div>