@page
@model ExeVUB.Pages_Projects.IndexModel

@{
    ViewData["Title"] = "Projects";
    ViewData["Header"] = "Projects";
}


<div>
    <partial name="_SortProjects"/>
</div>

<div>
    <partial name="_ProjectsTable" model="Model.Project" />
</div>