@page
@model ExeVUB.Pages_Projects.PrivateProjectsModel

@{
    ViewData["Title"] = "Private Projects";
    ViewData["Header"] = "Private Projects";
}

<div>
    <partial name="_ProjectsTable" model="Model.Project" />
</div>
